<%= partial(:'common/header') %>
<header>
  <h1>Phylogeny Explorer: <%= @collection.name %></h1>
  <a href="#" class="create-phylogeny button next disabled">Create Phylogeny</a>
</header>
<form action="/view" method="post">
  <ul class="species-list">
  <% @collection.species.each do |s| %>
    <li class="species" id="species-<%= s.id %>">
      <img src="<%= s.image %>" />
      <div>
        <input type="checkbox" name="species[<%= s.id %>]" />
        <label><%= s.name %></label>
        <ul class="species-links">
          <li><a href="<%= s.wiki_link %>">Wikipedia</a></li>
          <li><a href="<%= s.div_link %>">Animal Diversity</a></li>
        </ul>
      </div>
    </li>
  <% end %>
  </ul>
</form>
<div id="toolbar">
  <a href="/" class="home button">Back Home</a>
  <a href="#" class="create-phylogeny button next disabled">Create Phylogeny</a>
  <div class="select-actions">
    <a href="#" class="select-all">Select All</a> | <a href="#" class="select-none">Select None</a>
  </div>
</div>
<script>
  var speciesList = function() {
    function count() {
      return $('.species-list :checked').length;
    }
    function updateActions() {
      var c = count();
      if (c < 3) {
        $('.next').addClass('disabled');
      } else {
        $('.next').removeClass('disabled');
      }
    }
    function updateCounter() {
      var c = count();
      if (c > 0) {
        $('.create-phylogeny').html('Create Phylogeny <span>(' + c + ' Species)</span>');        
      } else {
        $('.create-phylogeny').text('Create Phylogeny');                
      }      
    }
    function isSelected($li) {
      var checkbox = $li.find('input[type=checkbox]');
      return checkbox.prop('checked');
    }
    function doSelect($li) {
      var checkbox = $li.find('input[type=checkbox]');
      checkbox.prop('checked', true);                      
      $li.addClass('selected');        
    }
    function doDeselect($li) {
      var checkbox = $li.find('input[type=checkbox]');
      checkbox.prop('checked', false);              
      $li.removeClass('selected');        
    }
    return {
      select: function($li) {
        if (isSelected($li)) {
          doDeselect($li);
        } else {
          doSelect($li);
        }
        updateCounter();
        updateActions();
      },
      selectAll: function() {
        $('.species').each(function(){
          doSelect($(this));
        });
        updateCounter();
        updateActions();
      },
      deselectAll: function() {
        $('.species').each(function(){
          doDeselect($(this));
        });
        updateCounter();
        updateActions();
      }
    }
  }();
  $(document).ready(function(){
    $('.species-list').delegate('li', 'click', function() {
      speciesList.select($(this));
    });
    $('.species-list label').text(function(index, text) {
      return text.replace('_', ' ');      
    });
    $('.species-list').imagesLoaded(function() {
      $(this).masonry({
        // options
        itemSelector : '.species',
        columnWidth : 240
      });
    });
    $('.next').click(function(event) {
      var disabled = $(this).hasClass('disabled');
      if (!disabled) {
        $('form').submit();        
      }        
    });
    $('.select-all').click(function() {
      speciesList.selectAll();
    });
    $('.select-none').click(function() {
      speciesList.deselectAll();
    });
  });
</script>
<%= partial(:'common/footer') %>