<%= partial(:'common/header') %>
<form action="/phylogeny" method="post">
<ul class="species-list">
<% @all_species.each do |s| %>
  <li class="species" id="species-<%= s.id %>">
    <img src="images/<%= s.image %>" />
    <div>
      <input type="checkbox" name="species[<%= s.id %>]" />
      <label><%= s.name %></label>
    </div>
  </li>
<% end %>
</ul>
<p><input type="submit" value="Generate Phylogeny" /></p>
</form>
<script>
  $(document).ready(function(){
    $('.species-list').delegate('li', 'click', function(){
      var checkbox = $(this).find('input[type=checkbox]');
      var li = $(this);
      if (checkbox.prop('checked')) {
        checkbox.prop('checked', false)        
      } else {
        checkbox.prop('checked', true)                
      }
      li.toggleClass('selected');
    });
    $('.species-list').imagesLoaded(function(){
      $(this).masonry({
        // options
        itemSelector : '.species',
        columnWidth : 220
      });
    });
  });
</script>
<%= partial(:'common/footer') %>